.gm-table {
  border-collapse: collapse;
  font: 10pt helvetica, arial, sans-serif;
  padding-bottom: 2mm;
  width: 100%;
}
.gm-table,
.gm-table th,
.gm-table td { border: 1px solid #DDD; }
.gm-table td { vertical-align: top; }
.gm-pick-more i {
  font-size: 1.4em;
  font-style: normal;
  font-weight: bold;
  line-height: 0;
}
.gm-hd {
  color: #999;
  font-size: .8em;
  line-height: 1.4em;
  text-align: left;
  text-transform: uppercase;
}
.gm-ltr {
  text-align: left;
}
.h1 { font-size: 3em; }
.h2 { font-size: 2.4em; }
.h3 { font-size: 2em; }
.h4 {
  font-size: 1.4em;
  line-height: 1.5em;
}
.h5 {
  font-size: .8em;
  line-height: 1.4em;
}
.gm-snap-left { float: left; }
.gm-snap-right { float: right; }
.gm-grid-item { display: inline-block; }
.gm-10 { width: 10%; }
.gm-20 { width: 20%; }
.gm-40 { width: 40%; }
.gm-60 { width: 60%; }
.gm-button-danger {
  color: #c00;
}
.gm-label {
  background-color: #999;
  border-radius: 0.2em;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  padding: 4px 8px 2px;
}
.gm-label-danger {
  background-color: #c00;
}
.gm-label-bug {
  background-color: #c00;
}
.gm-label-user-story {
  background-color: #8CAF68;
}
/* -------------------- ticket pagination */
.gm-ticket-section {
  background-color: #999;
  display: inline-block;
  height: 8px;
  line-height: 0;
  overflow: hidden;
  position: relative;
  text-indent: -99em;
  width: 12px;
}
.gm-remove-ticket {
  background-color: #ccc;
}
.gm-remove-ticket:hover {
  background-color: #E94902;
}
.gm-remove-ticket:hover:after {
  color: white;
  content: "✖";
  display: inline-block;
  height: 100%;
  left: 0;
  line-height: 0.5em;
  position: absolute;
  text-align: center;
  text-indent: 10%;
  top: 0;
  width: 100%;
}
.gm-center { text-align: center;}
.gm-left { text-align: left;}
.gm-hyphen {
         hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
    -moz-hyphens: auto;
  -wekit-hyphens: auto;
}
.gm-inner { padding: 2mm 3mm; }
/* ----------------------------- sections */
.gm-title .gm-inner {
  overflow: hidden;
  padding-bottom: 0;
}
.gm-title .gm-inner {
  height: 6.5cm;
}
.gm-number .gm-bd { word-break: break-all; }
.gm-pairing .gm-inner { overflow: hidden; }
.gm-pairing .gm-hd { padding-right: 3mm; }
.gm-pairing .gm-bd { overflow: hidden; }
.gm-qa .gm-bd {
  border-radius: 2em;
  border: 1px solid #DDD;
  height: 40px;
  margin: auto;
  width: 40px;
}
.gm-output-list {
  margin: 0;
  padding: 0;
}
.gm-output-item {
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12.2cm;
  overflow: hidden;
  page-break-inside: avoid;
  position: relative;
}
.gm-warning {
  background-color: #E94902;
  color: white;
}
.gm-warning .gm-hd {
  color: white;
}
.gm-date-content .gm-hd {
  padding: 0 0 1px;
  text-align: center;
}
.gm-date-content .gm-bd {
  color: #DDD;
  font-size: 0.7em;
  text-align: center;
  text-transform: uppercase;
}
.gm-date-content .gm-inner {
  min-height: 1.2cm;
}
.gm-container .gm-print { margin: 0 10px 0 0; }
/* Jira --------------------------------- */
/* center inline message */
.global .aui-message {
  left: 50%;
  margin-left: -220px;
  position: absolute;
  top: 20px;
  z-index: 101;
}
/* --------------------------------- Jira */
@media print {
  html, body {
    background-color: white;
  }
  #page,
  .aui-blanket,
  .gm-container .form-footer,
  .gm-container .jira-dialog-heading,
  #gm-add-collaborator {
    display: none;
  }
  .gm-container.jira-dialog {
    border: none;
    margin: 0;
    padding: 0;
  }
  .gm-container {
    box-shadow: none !important;
    border-radius: 0 !important;
    left: 0;
    margin: 0;
    max-height: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .gm-container .form-body {
    padding: 0 !important;
  }
}
@media screen {
  .gm-container {
    left: 50%;
    margin-left: -9cm;
    margin-top: 5%;
    top: 0;
    width: 18.9cm;
  }
  .gm-container .form-body {
    height: 460px;
    padding: 2mm !important;
  }
  /**
   * Page separation counter
   */
  .gm-output-list {
    counter-reset: page-counter;
  }
  .gm-output-item:nth-child(odd) {
    counter-increment: page-counter;
  }
  .gm-output-item:nth-child(even) {
    border-bottom: 2px dashed #DDD;
  }
  .gm-output-item:nth-child(odd):before,
  .gm-output-item:nth-child(even):after {
    color: #999;
    display: block;
    font-size: 0.8em;
    text-align: center;
  }
  .gm-output-item:nth-child(odd):before {
    content: "Begin of page " counter(page-counter);
    margin-bottom: 1em;
  }
  .gm-output-item:nth-child(even):after {
    content: "End of page " counter(page-counter);
    margin-top: 1em;
  }
  /**
   * Delete button
   */
  .gm-ticket-action-panel {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 8.5em;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 6.2em;
    transition: 0.4s;
    opacity: 0;
  }
  .gm-output-item:hover .gm-ticket-action-panel {
    opacity: 1;
  }
  .gm-output-item:nth-child(even) .gm-ticket-action-panel {
    bottom: 2.3em;
    top: 0;
  }
  .aui-button.gm-button-danger:hover {
    border-color: #8F3601
  }
  .aui-button.gm-pick-more:hover {
    border-color: #8CAF68;
  }
  .gm-page-counter {
    color: #999;
    font-size: 0.8em;
    position: absolute;
    right: 2em;
    top: 2.2em;
  }
}
