// override
.gm-scrum-layout {

  .gm-jira-title {
    .gm-inner {
      height: 3.2cm;
    }
  }

  .gm-jira-description {
    overflow: hidden;
    .gm-inner {
      height: 6.2cm;
    }
    .gm-bd {
      @extend %default-font-size;
      @extend %hyphen;
      @extend %text-left;
      font-weight: normal;
      line-height: $base-line;
    }
  }

}
