// abstract placeholder
%text-left {
  text-align: left;
}
%text-right {
  text-align: right;
}
%text-center {
  text-align: center;
}

%snap-left {
  float: left;
}
%snap-right {
  float: right;
}

%hyphen {
  @include hyphens(auto);
}

// fonts
%default-font-size {
  font-size: 1rem;
}
%h1 {
  font-size: $font-size-h1;
}
%h2 {
  font-size: $font-size-h2;
}

@media print {
  .gm-print-hidden {
    display: none;
  }
}
