%output-page-count-label {
  color: $grey-light;
  display: block;
  font-size: $font-size-milli;
  padding: 0.2rem 0;
  text-align: center;
}

.gm-output-list {
  counter-reset: page-counter;
  margin: 0;
  padding: 0;
}
.gm-output-item {
  @include box-sizing(border-box);
  overflow: hidden;
  page-break-inside: avoid;
  position: relative;
  &:nth-child(odd) {
    margin-bottom: 0.4rem;
    counter-increment: page-counter;
    &:before {
      @extend %output-page-count-label;
      content: "Begin of page " counter(page-counter);
    }
  }
  &:nth-child(even) {
    &:after {
      @extend %output-page-count-label;
      border-bottom: 2px dashed $grey-light;
      content: "End of page " counter(page-counter);
    }
  }
}

// screen only definitions
@mixin screenOutputLayout {

  .gm-ticket-action-panel {
    @include display-flex;
    align-items: right;
    background-color: $grey-lighter;
    border-top: $table-border-size solid $table-border-color;
    bottom: $table-border-size;
    justify-content: center;
    left: $table-border-size;
    opacity: 0;
    padding: 0.4rem 0;
    position: absolute;
    right: $table-border-size;
    text-align: center;
    transition: 0.4s;
  }
  .gm-output-item {
    &:hover .gm-ticket-action-panel {
      opacity: 1;
    }
    &:nth-child(even) {
      .gm-ticket-action-panel {
        bottom: 1.7rem;
      }
    }
  }

}

// print only definitions
@mixin printOutputLayout {

  .gm-output-item {
    height: 12.2cm;
    &:nth-child(even) {
      border-bottom: none;
    }
    &:before,
    &:after {
      display: none!important;
    }
  }

}
