.gm-output-list {
  margin: 0;
  padding: 0;
}
.gm-output-item {
  @include box-sizing(border-box);
  height: 12.2cm;
  overflow: hidden;
  page-break-inside: avoid;
  position: relative;
}
%output-page-count-label {
  color: $grey-light;
  display: block;
  text-align: center;
}
.gm-output-list {
  counter-reset: page-counter;
}
.gm-output-item {
  &:nth-child(odd) {
    counter-increment: page-counter;
    &:before {
      @extend %output-page-count-label;
      content: "Begin of page " counter(page-counter);
      margin-bottom: 0.2em;
      margin-top: -0.3em;
    }
  }
  &:nth-child(even) {
    border-bottom: 2px dashed $grey-light;
    &:after {
      @extend %output-page-count-label;
      content: "End of page " counter(page-counter);
    }
  }
}

// screen only definitions
@mixin screenOutputLayout {

  .gm-output-item {
    &:hover .gm-ticket-action-panel {
      opacity: 1;
    }
    &:nth-child(even) .gm-ticket-action-panel {
      bottom: 2.3em;
      top: 0;
    }
  }

}

// print only definitions
@mixin printOutputLayout {

  .gm-output-item {
    &:nth-child(even) {
      border-bottom: none;
    }
    &:before,
    &:after {
      display: none!important;
    }
  }

}
