// Atlassian colors
$aui-charcoal:   #333333;
$aui-medium:     #707070;
$aui-light-gray: #F5F5F5;
$aui-ash-gray:   #CCCCCC;
$aui-green:      #14892C;
$aui-red:        #D04437;
// colors
$red-dark:       #8F3601;
$red:            $aui-red;
$red-light:      #E94902;

$grey-dark:      $aui-charcoal;
$grey:           $aui-medium;
$grey-light:     $aui-ash-gray;
$grey-lighter:   $aui-light-gray;

$green:          $aui-green;

// fonts/typo
$font-stack:        helvetica, arial, sans-serif;
$base-line:         1.3334em;
$default-font-size: 8.5pt;
$font-size-milli:   0.8rem !default;
$font-size-h2:      1.8rem !default;
$font-size-h1:      2.1rem !default;
// table
$table-border-size: 1px;
$table-border-color: $grey-light;
