$red-dark:    #8F3601;
$red:         #CC0000;
$red-light:   #E94902;

$grey-dark:   #999999;
$grey:        #CCCCCC;
$grey-light:  #DDDDDD;

$green:       #8CAF68;

$base-line:         1.3334em;
$default-font-size: 8.5pt;
$font-size-h6:      1rem;
$font-size-h5:      1.2rem;
$font-size-h4:      1.3rem !default;
$font-size-h3:      1.5rem !default;
$font-size-h2:      1.8rem !default;
$font-size-h1:      2.1rem !default;
