%table-cell {
  border: 1px solid $grey-light;
}
.gm-table {
  @extend %table-cell;
  border-collapse: collapse;
  font: $default-font-size helvetica, arial, sans-serif;
  line-height: $base-line;
  padding-bottom: 2mm;
  width: 100%;
  th {
    @extend %table-cell;
  }
  td {
    @extend %table-cell;
    vertical-align: top;
  }
}
